* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.board {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 1%;
    background: rgb(255, 0, 195);
    margin-left: 47%;
    margin-top: 3%;
    border-radius: 10%;
}